<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
        <a class="navbar-brand" href="index.html">Bootstrap 4 Header Template</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto navbar-menu-items fadeIn animated">
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#top-content">Top</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-1">Item 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-2">Item 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-3">Item 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#section-4">Item 4</a>
                </li>
            </ul>
            <form class="form-inline navbar-search-form disabled ml-auto" action="" method="post">
                <input type="search" name="search" placeholder="Type and hit enter..." aria-label="Search"
                    class="search form-control">
            </form>
            <ul class="navbar-nav navbar-search-button">
                <li class="nav-item">
                    <a class="nav-link search-button" href="#"><i class="bi bi-search"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="top-content" style="position: relative; z-index: 0; background: none;">
    <div class="inner-bg">
        <div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2 text">
                    <h1 class="wow fadeInLeftBig animated" style="visibility: visible; animation-name: fadeInLeftBig;">
                        Header Template with Bootstrap 4</h1>
                    <div class="description wow fadeInUp animated"
                        style="visibility: visible; animation-name: fadeInUp;">
                        <p>
                            This is a free Header template with Menu and Search Box, made with the Bootstrap 4
                            framework.
                            Check it out now. Download it, customize and use it as you like!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="backstretch"
        style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 601px; width: 1903px; z-index: -999998; position: absolute;">
        <img src="assets/img/backgrounds/top-background.jpg"
            style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1268.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -333.833px;">
    </div>
</div>
{{callComponent()}}