<div class="login-page" style="position: relative; z-index: 0; background: none;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 login-text wow fadeIn animated login-text-pos"
                style="visibility: visible; animation-name: fadeIn;">
                <h1>Login to our site</h1>
                <p>Use the form below to login to our website if you have an account.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 login-box wow fadeInUp animated l-form-pos"
                style="visibility: visible; animation-name: fadeInUp;">
                <div class="l-form-top ">
                    <div class="l-form-top-left">
                        <h3>Sign in</h3>
                        <p>Enter your username and password to log on:</p>
                    </div>
                    <div class="l-form-top-right">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                </div>
                <div class="l-form-bottom">
                    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
                        <div class="form-group">
                            <label class="sr-only" for="l-form-username">Username</label>
                            <input type="text" formControlName="username" name="l-form-username" placeholder="Username..."
                                class="l-form-username form-control" id="l-form-username">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="l-form-password">Password</label>
                            <input type="password" formControlName="password" name="l-form-password" placeholder="Password..."
                                class="l-form-password form-control was-validated" id="l-form-password">
                        </div>
                        <button type="submit" class="btn">Sign in!</button>
                        <div class="form-check checkbox">
                            <input class="form-check-input mt-1" formControlName="remember" type="checkbox" id="remember-me">
                            <label class="form-check-label" for="remember-me">
                                Remember me
                            </label>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3 login-social">
                    <h3>...or login with:</h3>
                    <div class="login-social-buttons">
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1" href="#">
                            <i class="fa fa-google"></i> Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backstretch">
        <img src="assets/img/backgrounds/login-background.jpg"
            style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1024.25px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -22.0938px;">
    </div>
</div>