<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-about wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <h3>About us</h3>
                <p>
                    We are a young company always looking for new and creative ideas to help you with our products in your everyday work.
                </p>
                <p>© Company Inc.</p>
            </div>
            <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                <h3>Contact</h3>
                <p><i class="bi bi-geo-alt-fill"></i> Via Rossini 10, 10136 Turin Italy</p>
                <p><i class="bi bi-telephone-fill"></i> Phone: (0039) 333 12 68 347</p>
                <p><i class="bi bi-envelope-fill"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                <p><i class="bi bi-skype"></i> Skype: you_online</p>
            </div>
            <div class="col-md-4 footer-links wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                <div class="row">
                    <div class="col">
                        <h3>Links</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><a class="scroll-link" href="#top-content">Home</a></p>
                        <p><a href="#">Features</a></p>
                        <p><a href="#">How it works</a></p>
                        <p><a href="#">Our clients</a></p>
                    </div>
                    <div class="col-md-6">
                        <p><a href="#">Plans &amp; pricing</a></p>
                        <p><a href="#">Affiliates</a></p>
                        <p><a href="#">Terms</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                   <div class="col footer-social">
                    <a href="#"><i class="bi bi-facebook"></i></a> 
                    <a href="#"><i class="bi bi-twitter"></i></a> 
                    <a href="#"><i class="bi bi-google"></i></a> 
                    <a href="#"><i class="bi bi-instagram"></i></a> 
                    <a href="#"><i class="bi bi-pinterest"></i></a>
                </div>
               </div>
        </div>
    </div>
</div>
{{callComponent()}}